<!DOCTYPE html>
<html lang="en">
<head>
    <title>物料列表</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../libs/ajaxupload.js"></script>
    <script src="../../js/common.js"></script>
    <style>
        td {
            vertical-align: middle !important;
        }

        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: auto;
            vertical-align: text-top;
            padding-top: 2px;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div v-if="hasPermission('mat:project:material:list')" class="form-group col-sm-2">
                <input type="text" class="form-control" @keyup.enter="query" v-model="q.item" placeholder="部件名称">
            </div>
            <a v-if="hasPermission('mat:project:material:list')" class="btn btn-default" @click="query">查询</a>
            <a v-if="hasPermission('mat:project:material:remove')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o">&nbsp;移除</i></a>
        </div>

        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <!-- 资料下载列表弹窗 -->
    <div id="fileInfoLayer" style="display: none;padding:10px;">
        <table class="table table-hover table-bordered">
            <tr>
                <td>爆炸图：</td>
                <td v-if="file.explodedView"><a @click="downloadFile('explodedView')"><span class="glyphicon glyphicon-download-alt"></span></a></td>
                <td v-else>暂未上传</td>
            </tr>
            <tr>
                <td>2D组装图：</td>
                <td v-if="file.assemblyDrawing2d"><a @click="downloadFile('assemblyDrawing2d')"><span class="glyphicon glyphicon-download-alt"></span></a></td>
                <td v-else>暂未上传</td>
            </tr>
            <tr>
                <td>3D组装图：</td>
                <td v-if="file.assemblyDrawing3d"><a @click="downloadFile('assemblyDrawing3d')"><span class="glyphicon glyphicon-download-alt"></span></a></td>
                <td v-else>暂未上传</td>
            </tr>
            <tr>
                <td>技术文件：</td>
                <td v-if="file.technicalNote"><a @click="downloadFile('technicalNote')"><span class="glyphicon glyphicon-download-alt"></span></a></td>
                <td v-else>暂未上传</td>
            </tr>
            <tr>
                <td>与实验相关报告：</td>
                <td v-if="file.relatedExperimentReport"><a @click="downloadFile('relatedExperimentReport')"><span class="glyphicon glyphicon-download-alt"></span></a></td>
                <td v-else>暂未上传</td>
            </tr>
        </table>
    </div>
</div>
<script src="../../js/modules/mat/matProject.js"></script>
</body>
</html>